/* Change the background of the entire visible page */
body {
    background-color: #d9afc4; /* Light pink */
}

/* Style for all paragraphs */
p {
    color: darkred;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid darkred; /* Adds an red border around the heading */
    padding: 10px; /* Adds space inside the border */
}
