/* Change the background of the entire visible page */
body {
    background-color: #f5d7e3; /* Light pink */
}

/* Style for all paragraphs */
p {
    color: darkred;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid darkred; /* Adds an red border around the heading */
    padding: 10px; /* Adds space inside the border */
}
#list-of-fav-books {
        color: darkred;
        font-size: 16px;
        font-family: 'Times New Roman', serif;
}
.hidden-content {
  display: none;
}

/* Show the content when the sibling checkbox is checked */
input[type="checkbox"]:checked + label + .hidden-content {
  display: block;
}

/* Optional: style the button */
.toggle-button {
  cursor: pointer;
  padding: 3px 10px;
  background-color: #ff0000a4;
  color: rgb(255, 255, 255);
  border-radius: 1px;
}


.toggle-button {
  cursor: pointer;
  padding: 3px 10px;
  background-color: #ff0000a4;
  color: rgb(255, 255, 255);
  border-radius: 1px;
}
