/* Change the background of the entire visible page */
body {
    background-color: #d9afc4;
}

/* Style for all paragraphs */
p {
    color: darkred;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid red; /* Adds an red border around the heading */
    padding: 10px; /* Adds space inside the border */
}
